:root {
  --primaycolor: #ff274b;
  --secondarycolor: #f7bcf7;
  --lightcolor: #ffffff;
  --bgcolor-1: #171a1c;
  --bgcolor-2: #22282a;
  --pading: 8%;
}

.ahmed {
  color: var(--lightcolor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "josefin sans", sans-serif;
  font-size: 16px;
  color: var(--lightcolor);
}

.test1 {
  color: aquamarine;
  font-size: 50px;
}

.home1 {
  color: darkgoldenrod;
}
nav {
  padding-top: 2.8rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #98dfd6;
}
.test5 {
  color: aqua;
}

table {
  background-color: white;
  color:black ;
}
input {
  background-color: rgba(255, 255, 255, 0.57);
}
label {
  color: white;
}
textarea {
  background-color: rgba(255, 255, 255, 0.57);
}
select {
  background-color: rgba(255, 255, 255, 0.57);
}
.test23 {
  color: #f7bcf7;
  text-align: center;
}
footer {
  background-color: rgba(0, 0, 0, 0.833);
  color: white;
}

form {
  border: 3px solid #f1f1f1;
}

/* Set a style for all buttons */
button {
  background-color: #BFBCA6;
  #04aa6d
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

body {
  background-color: #3b29f2;
}
#3c2a21 h1 {
  color: black;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.test55 {
  background-color: #1a120b;
  height: 100;
}
.header {
  padding: 20px;
  text-align: right;
  background: white;
  color: white;
  font-size: 30px;
}
#8b9a46 a {
  color: #191a19;
}
.zz {
  color: white;
}
.test11 {
  background-color: black;
  height: 50;
}
.hi {
  color: #f1f1f1;
}
.bo7mid {
  text-align: center;
}
.psw {
  color: #171a1c;
}
.hello {
  display: flex;
  justify-content: flex-end;
}
.cc {
  background-color: rgba(0, 0, 0, 0.833);
}
a {
  color: darkcyan;
}
.content {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  color: blue;
}